<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
</head>
<body>

    <header>
        <div class="container-fluid p-0">
            <div class="row m-0 resturant_home_banner_row">
                <div class="col-sm-12 p-0 resturant_home_banner_col">
                    <div class="resturant_home_banner">
                        <!--Home Banner-->
                        <div class="container resturant_home_banner_content">
                            <h1>Welcome To <br /> Live Dinner Resturant</h1>
                            <p>
                                See how your users experience your website in realtime or view <br />
                                trends to see any changes in performance over time.
                            </p>
                          
                        </div>
                    </div>
                    <div class="resturant_logo_main_menu">
                        <div class="container resturant_logo_main_menu_container">
                            <div class="resturant_main_menu">
                                <nav class="navbar navbar-expand-md p-0">
                                    <div class="resturant_logo">
                                        <a href="Default.aspx"><img src="~/images/logo.png" /></a>
                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                                        <ul class="navbar-nav">
                                            <li class="nav-item nav-link" style="font-size:30px;">
                                                @Html.ActionLink("Home", "Index", "Home")
                                            </li>
                                            <li class="nav-item nav-link" style="font-size:30px;">
                                                @Html.ActionLink("About", "About", "Home")
                                            </li>

                                            <li class="nav-item nav-link" style="font-size:30px;">
                                                @Html.ActionLink("Contact", "Contact", "Home")
                                            </li>
                                            <li class="nav-item nav-link" style="font-size:30px;">
                                                @Html.ActionLink("Login", "Login", "Login")
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>



    <footer>
        <div class="container-fluid p-0 resturant_footer">
            <div class="container resturant_footer_container">
                <div class="row m-0 resturant_footer_row">
                    <div class="col-sm-12 col-md-4 resturant_footer_col">
                        <div class="about_us">
                            <h3>About Us</h3>
                            <p>
                                Our team is having experience of many years and that is the resaon we are having rush of customers every time.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 resturant_footer_col">
                        <div class="about_us">
                            <h3>Opening hours</h3>
                            <p>
                                Monday: Closed <br />

                                Tue-Wed : 9:Am - 10PM <br />

                                Thu-Fri : 9:Am - 10PM <br />

                                Sat-Sun : 5:PM - 10PM
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 resturant_footer_col">
                        <div class="about_us">
                            <h3>Contact information</h3>
                            <p>
                                New town,Mankau
                                New Zealand

                                <br />
                                +64 568 800 9999 <br />

                                adminlive@gmail.com<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 resturant_last_footer">
            <div class="row m-0 resturant_last_footer_row">
                <div class="col-sm-12 resturant_last_footer_col">
                    <p>
                        All Rights Reserved. © 2020 Developeed by Dilpreet Singh
                    </p>
                </div>
            </div>
        </div>
    </footer>




</body>
</html>
